appdirs==1.4.0
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cloudpickle==0.2.2
curl==2017.0.1
cycler==0.10.0
dask==0.15.0
descartes==1.1.0
distributed==1.17.1
Fiona==1.7.4
Flask==0.12
geopandas==0.2.1
geopy==1.11.0
geos==0.1.0
h5py==2.6.0
HeapDict==1.0.0
itsdangerous==0.24
Jinja2==2.9.5
kerberos==1.2.5
lxml==3.7.3
MarkupSafe==0.23
matplotlib==2.0.0
msgpack-python==0.4.8
munch==2.1.0
numexpr==2.6.2
numpy==1.13.0
olefile==0.44
packaging==16.8
pandas==0.19.2
Pillow==4.1.0
Polygon3==3.0.8
psutil==5.2.2
psycopg2==2.6.2
pykml==0.1.3
pyparsing==2.1.10
pyproj==1.9.5.1
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
Rtree==0.8.3
scipy==0.19.0
Shapely==1.5.17.post1
six==1.10.0
snakeviz==0.4.1
sortedcontainers==1.5.7
SQLAlchemy==1.1.5
tables==3.4.1
tblib==1.3.2
toolz==0.8.2
tornado==4.4.3
Werkzeug==0.11.15
zict==0.1.2